.App {
  padding: 10px 20px;
  flex: 1;
  border: solid #004AAD;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
  text-decoration: none;
  color: rgb(15, 29, 119);
  background-color: rgb(214, 212, 212);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Triage-header {
  font-size: 4em;
  text-align: center;
}

.Owner-header {
  font-size: 3em;
  text-align: center;
}

.Patient-header {
  font-size: 3em;
  text-align: center;
}