.navigation {
  position: relative;
  display: flex;
  color: #004AAD;
  align-items: center;
  background-color:rgb(247, 242, 242);
  border-radius: 10px;
  border-top: 2px solid #a1caff;
  border-bottom: 2px solid #a1caff;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  /* background: linear-gradient(90deg, #e5e8eb, #8da9ce); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigationTabs {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 15px;
  font-size: 25px;

}

.navigationLogo {
  position: absolute;
  left: 20px;
  max-height: 60px;
  width: auto;
  height: 95%;
  padding: 0;
  margin-right: 20px;
  transform: translateY(-50%);
}

.tabs {
  width: 120px;
  padding: 10px 20px;
  border: 2px solid #a1caff;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  text-align: center;
  margin: 0 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #014f70;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, color 0.2s;
}

.tabs:hover {
  background-color: #a1caff;
  color: black;
  border-color:#195cb3;
}
